.header{
    display: flex;
    align-items: center;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .logo {
    max-height: 55px;
}
.header .Titulo {
    padding-left: 20px;
}
.header .Titulo i {
    padding-right: 15px;
}