################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Documentação Projeto Ecoffe/.vs/Documentação Projeto Ecoffe/v16
