.sidenav {
    background-color: rgb(90, 84, 76);
    width: 200px;
}

.sidenav a {
    color: #FFF;
}

.sidenav i{
    padding-right: 10px;
}

.mat-list-item{
    margin-bottom: 35px;
}
.container{
    position: fixed;
}

