<mat-card>
    <mat-card-title>Novo Cartão</mat-card-title>
    <form>
            <mat-form-field>
                <input matInput placeholder="Número do cartão" [(ngModel)]="cardHelper.numero" name="cardHelper_Numero">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Nome no cartão" [(ngModel)]="cardHelper.nomeTitular" name="cardHelper_NomeTitular">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Mês" [(ngModel)]="cardHelper.mes" name="cardHelper_Mes">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Ano" [(ngModel)]="cardHelper.ano" name="cardHelper_Ano">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Código de Segurança" [(ngModel)]="cardHelper.csv" name="cardHelper_Vencimento">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Tipo</mat-label>
                <mat-select [(value)]="cardHelper.tipoCartao">
                    <mat-option value="0">
                      Débito
                    </mat-option>
                    <mat-option value="1">
                      Crédito
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-checkbox [(ngModel)]="cardHelper.principal" name="cardHelper_Principal">Principal</mat-checkbox>
    </form>
    <button mat-raised-button (click)="save()" color="primary">
        Salvar
    </button>
</mat-card>