<app-header></app-header>
<!-- Card 1 -->
<mat-card class="card1">
    <div class="cont">
        <mat-card-title class="title">Produto Destaque</mat-card-title>
        <mat-card-subtitle class="title">Descrição do produto em destaque</mat-card-subtitle>
        <mat-card-content class="title">R$Preço</mat-card-content>
        <img src="#" alt="Img do produto" mat-card-image> <br>
        <button mat-fab class="title" id="button">
            Comprar
        </button>
    </div>
</mat-card>
    <br>
<!-- Card 2 -->
<mat-card class="card2">
    <div id="p1">
        <img src="#" alt="img Produto mais avaliado" mat-card-image>
        <mat-card-subtitle style="color: white;">Produto mais avaliado 1</mat-card-subtitle>
    </div>
    <div id="p2">
        <img src="#" alt="img Produto mais avaliado" mat-card-image>
        <mat-card-subtitle style="color: white;">Produto mais avaliado 2</mat-card-subtitle>
    </div>
    <div id="p3">
        <img src="#" alt="img Produto mais avaliado" mat-card-image>
        <mat-card-subtitle style="color: white;">Produto mais avaliado 3</mat-card-subtitle>
    </div>
</mat-card>

<app-footer></app-footer>