body{
    background-color: rgb(241, 232, 232);
}

/* responsivo */

@media screen and (max-width: 600px){

}

/* Primeiro Card */

mat-card{
    background-color: rgb(241, 232, 232);
}

.Container1{
    width: 50%;
    display: inline-block;
    border-radius: 10px;
    background-color: rgb(241, 232, 232);
    position: relative;
    left: 25%;

}

.Container1 div{
    float: left;
}

#DivTexto{
    margin: 50px;
}

#Parte3{
    position: relative;
    bottom: 200px;
    left: 280px;

}

.Button{
    background-color: rgb(46, 46, 46);
    border-radius: 20px;
    color: #fff;
}

.Button:hover{
    background-color: rgb(85, 83, 83);
    transition: 0.4s;
}

.img{
    width: 200px;
    border-radius: 80px;
}


.img2{
    width: 15%;
    border-radius: 80px;
    display: block;
    padding: 5px;
}

.verm{
    color: rgba(190, 54, 54, 0.836);
}



#quebraLinha{
    width: 40px;
}
/* Segundo Card */

.Container{
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;

    background-color: rgb(46, 46, 46);
    border-radius: 10px;
}

.Container div{
    flex: 1 1 300px;
    color: #fff;
}

.imagem{
    width: 100px;

    border-radius: 10px;
}