<app-header></app-header>
<!-- Card 1 -->
<mat-card>
    <div class="Container1">
        <div id="DivTexto">
            <h4 class="verm">Titulo Produto</h4>
            <p id="quebraLinha">Descrição do Produto blabalbalbalblablabllab Lorem ipsum dolor sit amet</p>
            <p class="verm">R$49,90</p>
            <button mat-flat-button class="Button">Buy Now</button>
        </div>
        <div id="DivTexto">
            <img src="../../../assets/cafe1.jpg" alt="Img do Produto mais vendido" class="img">
        </div>
        <div id="Parte3">
            <img src="../../../assets/cafe1.jpg" alt="img do Segundo Produto mais vendido" class="img2">
            <img src="../../../assets/cafe1.jpg" alt="img do Terceiro Produto mais vendido" class="img2">
        </div>
    </div>
        
</mat-card>
    <br>
<!-- Card 2 -->
<mat-card>
    <section class="Container">
        <div>
            <img src="../../../assets/cafe1.jpg" alt="img produto mais votado" class="imagem">
            <p>Titulo produto</p>
        </div>
        <div>
            <img src="../../../assets/cafe1.jpg" alt="img produto mais votado" class="imagem">
            <p>Titulo produto</p>
        </div>
        <div>
            <img src="../../../assets/cafe1.jpg" alt="img produto mais votado" class="imagem">
            <p>Titulo produto</p>
        </div>
        <div>
            <img src="../../../assets/cafe1.jpg" alt="img produto mais votado" class="imagem">
            <p>Titulo produto</p>
        </div>
    </section>
</mat-card>
<br><br>
<app-footer></app-footer>