body{
    background-color: rgb(241, 232, 232);
}

/* Primeiro Card */

@media screen and (max-width: 800px) {
    
}

mat-card{
    background-color: rgb(241, 232, 232);
}

.Button{
    background-color: rgb(46, 46, 46);
    border-radius: 20px;
    color: #fff;
}

.Button:hover{
    background-color: rgb(85, 83, 83);
    transition: 0.4s;
}

.img{
    width: 200px;
    border-radius: 80px;
}


.img2{
    width: 50px;
    border-radius: 80px;
    display: block;
    padding: 5px;
}

.verm{
    color: rgba(190, 54, 54, 0.836);
}

#quebraLinha{
    width: 150px;
}
#quebraLinhaTitle{
    width: 100px;
}

.ContainerCima{
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;

    background-color: rgb(241, 232, 232);
    border-radius: 10px;
}

.ContainerCima div{
    flex: 1 1 300px;
    color: #fff;
}

/* Segundo Card */

.Container{
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;

    background-color: rgb(46, 46, 46);
    border-radius: 10px;
}

.Container div{
    flex: 1 1 300px;
    color: #fff;
}

.imagem{
    width: 100px;

    border-radius: 10px;
}