.mat-card{
    margin: 1rem 2rem 0 2rem;
}

.productMatCart{
    margin: 0.75rem;
}

.productImg{
    float: left;
}

.productImg > img{
    height: 70px;
    max-width: 70px;
}

.productContainer{
    display: flex;
}

.productContent{
    display: inline-grid;
    margin-left: 10px;
}

.totalValue{
    margin-left: 0.75rem;
    font-size: 20px;
    font-weight: 500;
}


@media (max-width: 550px) {
    .mat-card{
        margin-left: 0;
        margin-right: 0;
    }
    
    .productMatCart{
        margin-left: 0.1px;
        margin-right: 0.1px;
    }
}