mat-sidenav-container{
    height: 100%;
}

mat-sidenav, mat-sidenav-content{
    padding: 16px;
}

mat-sidenav{
    background-color: #f7f7f6;
    width: 300px;
    position: fixed;
}

mat-sidenav-container{   
    background-color: transparent;
    display: flex;
    float: right;
}

.closeButton{
    all:unset;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    margin: 5px;
    line-height: 14px;
    min-width: auto;
    cursor: pointer;
}