mat-sidenav-container{
    height: 100%;
}

mat-sidenav, mat-sidenav-content{
    padding: 16px;
}

mat-sidenav{
    background-color: #f7f7f6;
    width: 300px;
    position: fixed;
}

mat-sidenav-container{   
    background-color: transparent;
    display: flex;
    float: right;
}