<app-header></app-header>

<body>
    <div class="wrapper">
        <mat-card>
            <mat-card-title class="titulo">ENTRAR</mat-card-title>
            <form>
                <mat-form-field>
                    <input matInput placeholder="CPF ou Email" [(ngModel)]="loginUser.emailCpf" name="loginUser_EmailCpf" required>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Senha" [(ngModel)]="loginUser.senha" name="loginUser_Senha" type="password" required>
                </mat-form-field>
            </form>
            <button mat-raised-button (click)="login()" color="primary">
                Entrar
            </button>
        </mat-card>
        <mat-card>
            <mat-card-title class="titulo">REGISTRAR</mat-card-title>
            <form>
                <mat-form-field>
                    <input matInput placeholder="Nome" [(ngModel)]="newUser.nome" name="newUser_Nome" required>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Email" [(ngModel)]="newUser.email" name="newUser_Email" type="email" required>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="CPF" [(ngModel)]="newUser.cpf" name="newUser_CPF" required>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Telefone" [(ngModel)]="newUser.telefone" name="newUser_Telefone" required>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Senha" [(ngModel)]="newUser.senha" name="newUser_Senha" type="password" required>
                </mat-form-field>
            </form>
            <button mat-raised-button (click)="register()" color="primary">
                Registrar
            </button>
        </mat-card>
    </div>
<div class="img_footer"></div>
</body>

<app-footer></app-footer>