<app-header></app-header>

<body>
    <div class="wrapper">
        <mat-card>
            <mat-card-title class="titulo">ENTRAR</mat-card-title>
            <form>
                <mat-form-field>
                    <input matInput placeholder="CPF ou Email" [(ngModel)]="loginUser.emailCpf" name="loginUser_EmailCpf" required>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Senha" [(ngModel)]="loginUser.senha" name="loginUser_Senha" type="password" required>
                </mat-form-field>
            </form>
            <div class="messageError">
                <p *ngIf="errorLogin">{{errorLogin}}</p>
            </div>
            <button mat-raised-button (keydown.enter)="login()" (click)="login()" color="primary">
                Entrar
            </button>
        </mat-card>
        <mat-card>
            <mat-card-title class="titulo">REGISTRAR</mat-card-title>
            <form>
                <mat-form-field>
                    <input matInput placeholder="Nome" [(ngModel)]="newUser.nome" name="newUser_Nome" required>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Email" [(ngModel)]="newUser.email" name="newUser_Email" type="email" required>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="CPF" mask="000.000.000-00" [(ngModel)]="newUser.cpf" name="newUser_CPF" required>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Telefone" mask="00 00000 0000" [(ngModel)]="newUser.telefone" name="newUser_Telefone" required>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Senha" [(ngModel)]="newUser.senha" name="newUser_Senha" type="password" required>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Confirmar Senha" [(ngModel)]="confirmPassword" name="confirmPassword" type="password" required>
                </mat-form-field>
            </form>
            <div class="messageError">
                <p *ngIf="errorRegister">{{errorRegister}}</p>
            </div>
            <button mat-raised-button (click)="register()" color="primary">
                Registrar
            </button>
        </mat-card>
    </div>
<div class="img_footer"></div>
</body>

<app-footer style="display: none;"></app-footer>