.header-container{
    background-color: #FBF6FF;
    height: 140px;
    font-family: 'Ovo', serif;
    display: flex;
    justify-content: center;
}

.nav{
  margin: 20px;
  text-align: center;
  justify-content: center;
  position: absolute;
  top: 75px;
  display: flex;
  flex-flow: wrap;
}

.nav a {
  text-decoration: none;
  margin-right: 35px;
}

.nav a:last-of-type{
  margin-right: 0px;
}

.logo{
  min-width: 220px;
  position: absolute;
  top: 10px;
}

.logo > img {
  float: left;
}

.logo > span {
  float: right;
  vertical-align: middle;
  line-height: 78px;
}

@media (max-width: 550px) {
  .logo{
    display: none;
  }

  .nav{
    position: unset;
  } 
}

@media (max-width: 1050px){
  .right-content > input{
    display: none;
  }

  .right-content > button{
    display: none;
  }
}

.right-content{
  display: flex;
  float: right;
  position: absolute;
  right: 10px;
  margin-bottom: 10px;
}

  input {
    font: 16px system-ui;
    color: black;
    border-radius: 25px;
    border-color: unset;
    padding: 10px 10px 10px 45px;
  }

  button {
    all: unset;
    cursor: pointer;
    width: 32px;
    top: 7px;
    left: 10px;
    position: absolute;
    height: 32px;
  }

  .cart {
    margin: 10px;
    height: 32px;
    width: 32px;
    cursor: pointer;
  }
