/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #f7f6f7;
}

.white{
    color: rgb(255, 255, 255);
}
.red{
    color: red;
}

.v-middle{
    vertical-align: middle;
}

.black{
    color: black;
}
