/*
.CentralDiv{
    display: flex;
    flex-wrap: wrap;
}

.CentralDiv div{
    flex: 1 1 300px;
    margin-left: 50px;
    margin-bottom: 2px;
}

.Button{
    background-color: rgb(46, 46, 46);
    border-radius: 20px;
    color: #fff;
}

.Button:hover{
    background-color: rgb(85, 83, 83);
    transition: 0.4s;
}

#quebraLinha{
    width: 150px;
}
*/
.products{
    display: inline-flex;
    flex-flow: wrap;

    height: 180px;
    width: 200px;
    margin: 10px;
}

.product{
    height: 180px;
    width: 200px;
    margin: 10px;
   
}

.wrapperImg{
    text-align: center;
}

.wrapperImg > img{
    height: 100px;
    width: auto;
}

button{
    margin: 10px;
}
.align{
    text-align: center;
}