<!--
<div class="CentralDiv">
<div id="DivEsq">
    <p>Identificação: {{product.id}}</p>
</div>
<div id="DivCent">
    <h1 id="quebraLinha">{{product.nome}}</h1>
</div>
<div>
    <img src="#" alt="Img Produto">
</div>
<div id="DivDir">
    <p>R${{product.valor}}</p>
    <button mat-flat-button class="Button">Comprar</button>
</div>
</div>
-->
<div class="align">
<mat-card class="products">
   <!-- <mat-card mat-card class="product"> -->
        <div class="wrapperImg">
            <img [src]="product.imgUrl">
        </div>
        <mat-card-title>
            <h2>{{product.nome}}</h2>
        </mat-card-title>
        <mat-card-subtitle>
           <p style="float: left;">{{product.valor | currency: 'BRL'}}</p> 
        </mat-card-subtitle>
        
   <!-- </mat-card> -->
</mat-card>
</div>