<app-header></app-header>

<div class="corpo">
    <div id="menu-esq">
        <h3 style="text-align: center;">Filtrar Produtos</h3>
        <ul>
            <h4>Por Método</h4>
            <li>Café com grãos (129)</li>
            <li>Café moído (52)</li>
        </ul>

    </div>

    <div id="produtos">

        <mat-card class="C-Loader">

        </mat-card>

        <mat-card *ngFor='let produto of produto'>
            <p>Identificação:{{produto.id}}</p> 
             <h1>{{produto.nome}}</h1>
             <p>R${{produto.valor}}</p>
         </mat-card>
</div>
<app-footer></app-footer>
