body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
}

#menu-esq{
    width: 20%;
}
li{
    list-style-type:none;
}
h4{
    color:rgb(117, 96, 66);
}
h3{
    color:rgb(117, 96, 66);

}
#produtos{
    position: relative;
    bottom: 100%;
    width: 50%;
    left: 40%;
}
#pproduto1{
    position: absolute;
    bottom: 100%;
}
img{
    width: 150px;
    padding: 10px;
}