body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
}

.corpo{
    display: flex;
}

#menu-esq{
    width: 20%;
}
li{
    list-style-type:none;
}
h4{
    color:rgb(117, 96, 66);
}
h3{
    color:rgb(117, 96, 66);

}
#produtos{
    position: relative;
    bottom: 100%;
    width: 50%;
    left: 15%;
    
}

mat-card{
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-style: solid;
    border-color: rgb(92, 92, 92);
    border-radius: 20px;
    border-width: 2px;
}

mat-card:hover{
    background-color: aliceblue;
    border-color: rgb(126, 125, 125);
    cursor: pointer;
}

img{
    width: 150px;
    padding: 10px;
}

.C-Loader{
    animation: is-roating 2s infinite;
    border: 6px solid #e5e5e5;
    border-top-color: #51d4db;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

@keyframes is-roating {
    to{
        transform: rotate(1turn);
    }
}