<app-header></app-header>

<mat-card class="products">
    <mat-card class="product" *ngFor="let product of products">
        <div class="wrapperImg">
            <img [src]="product.imgUrl">
        </div>
        <p>{{product.nome}}</p>
        <p style="float: left;">{{product.valor | currency: 'BRL'}}</p>
        <button mat-raised-button color="primary" (click)="addProductToCart(product);" style="float: right;">
            Comprar
        </button>
    </mat-card>
</mat-card>

<app-cart-sidenav></app-cart-sidenav>
<app-footer style="display: none;"></app-footer>
