<app-header></app-header>
<div>
    <div id="inicio">
        <mat-card id="dados_prod">
            <!-- aqui deve vim variavel com o diretório do produto-->
            <a>aaaaaaaaaaaaaaaaaaa</a>
            <!-- Aqui vai o nome do produto-->
            <mat-card-subtitle>
                <!-- Aqui vai a descrição do produto-->
                <a>aaaaaaaaaaaaaaaaaaa</a>
            </mat-card-subtitle>
        </mat-card>

        <img id="img_card" mat-card-image src="../../../assets/image150.png">

        <!-- Informações de valor-->
        <mat-card id="dados_venda">
            <mat-card-subtitle appearance="fill">
                <input matInput type="number">
            </mat-card-subtitle>

        </mat-card>


    </div>

    <div id="Meio">
        <label> Detalhes do produto </label>



    </div>

    <!--Ultimos Cards-->
    <div id="Fim">
        <mat-card id="card-one">
            <img  src="../../../assets/image154.png" mat-card-image>
            <!-- aqui deve vim variavel com o diretório do produto-->
            <a>aaaaaaaaaaaaaaaaaaa</a>
            <!-- Aqui vai o nome do produto-->
            <mat-card-subtitle>
                <!-- Aqui vai a descrição do produto-->
                <a>aaaaaaaaaaaaaaaaaaa</a>
            </mat-card-subtitle>

            <button mat-raised-button  color="primary" id="button">
                Comprar
            </button>
        </mat-card>

        <mat-card id="card">
            <img  src="../../../assets/image153.png" mat-card-image>
            <!-- aqui deve vim variavel com o diretório do produto-->
            <a>aaaaaaaaaaaaaaaaaaa</a>
            <!-- Aqui vai o nome do produto-->
            <mat-card-subtitle>
                <!-- Aqui vai a descrição do produto-->
                <a>aaaaaaaaaaaaaaaaaaa</a>
            </mat-card-subtitle>

            <button mat-raised-button color="primary" id="button">
                Comprar
            </button>
        </mat-card>

        <mat-card id="card">
            <img  src="../../../assets/image152.png" mat-card-image>
            <!-- aqui deve vim variavel com o diretório do produto-->
            <a>aaaaaaaaaaaaaaaaaaa</a>
            <!-- Aqui vai o nome do produto-->
            <mat-card-subtitle>
                <!-- Aqui vai a descrição do produto-->
                <a>aaaaaaaaaaaaaaaaaaa</a>
            </mat-card-subtitle>
            <button mat-raised-button  color="primary" id="button">
                Comprar
            </button>
        </mat-card>


    </div>

</div>
<app-footer></app-footer>